
 main button {
     width: 30px;
     height: 30px;
     border-radius: 100%;
     margin: 5px;
 }

 .button-flex {
     display: flex;
     justify-content: center;
 }

#black {
    background-color: $black;
}

#green {
    background-color: $green;          
}

#red {
    background-color: $red;
}

#blue {
    background-color: $blue;
}

